<div>
  <div>
    <mat-toolbar color="">
      <div class="mainButton">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Menu</button>
      </div>
      <mat-menu #menu="matMenu">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <button mat-menu-item >
            Home
          </button>
        </a>
        <a routerLink="/contact" routerLinkActive="active">
          <button mat-menu-item>
            Contact
          </button>
        </a>
        <a routerLink="/search" routerLinkActive="active">
          <button mat-menu-item>
            Search
          </button>
        </a>
      </mat-menu>
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
  <router-outlet></router-outlet>
</div>
