<mat-toolbar color="primary">
        Вхід в систему
</mat-toolbar>

<div class="container">
        <mat-card class="matCard">
                <div class="example-container">

                        <mat-form-field class="inputForm">
                                <input matInput type="login"
                                id="confirmPassword"
                                placeholder="Введіть ім'я користувача">
                        </mat-form-field><br>
                        <!--- Password Block --->
                        <mat-form-field class="inputForm">
                                <input matInput type="password"
                                id="inputPassword"
                                placeholder="Введіть пароль">
                        </mat-form-field><br>
                        <!--- Buttons Block --->
                        <div class="button form-group">
                                <button mat-raised-button type="submit" class="btn btn-primary" color="primary">
                                        Вхід
                                </button> 
                                <a href="#">Забули пароль?</a>                     
                        </div>
                        

                </div>         
        </mat-card>
</div>      

